

.parent {
                width: 200px;
                height: 200px;
                background-color: yellow;
                margin: 20px auto;
                position: relative;
            }

            .child {
                width: 50px;
                height: 50px;
                background-color: blue;
				position: absolute;
                right: 0px;
				bottom: 0px;
            }