



            .child {
                width: 50px;
                height: 50px;
                background-color: blue;
				position: absolute;
                right: 0px;
				bottom: 0px;
            }